<div data-guid="{{guid}}" class="branch depth-{{depth}}">
	<div class="dropTarget dropBefore"></div>
		<div class="bulletpoint"></div>
		<!-- <div class="highlight"></div> btn-success  -->
		<button class="btn-xs move" draggable="true"></button>
		<div class="note-content" contenteditable="true">{{{title}}}</div>
	<!-- <div class="note-content">{{{subtitle}}}</div> -->
	<div class="descendants"></div>
	<div class="dropTarget dropAfter"></div>
</div>