<div data-guid="{{guid}}" class="branch">
	<div class="dropTarget dropBefore"></div>
	<!--	<div class="bulletpoint"></div>
		<div class="highlight"></div> btn-success -->
	<button class="btn-xs move" draggable="true"></button>
	<div class="noteContent" contenteditable="true">{{{title}}}</div>
	<!-- <div class="noteContent">{{{subtitle}}}</div> -->
	<div class="descendants"></div>
	<div class="dropTarget dropAfter"></div>
</div>