<div class="row">
	<div class="note-content col-sm-8" contenteditable="true">{{{title}}}</div>
	<!-- <div class="note-content">{{{subtitle}}}</div> -->
	<span class="feats hidden-xs col-sm-4">
		<span class="icon-icons-01" title="Bookmark."></span>
		<span class="icon-icons-07 glyphicon-share" title="Share."></span>
		<span class="icon-icons-03 glyphicon-export" title="Export."></span>
		<span class="icon-icons-04" title="Save."></span>
		<span class="icon-icons-05" title="Like."></span>
		<span class="icon-icons-06 destroy" title="Delete."></span>
	</span>
</div>
