<div class="note-content" contenteditable="true">{{{title}}}</div>
<!-- <div class="note-content">{{{subtitle}}}</div> -->
<span class="feats hidden-xs hidden-sm">
  <span class="trash_icon sprite destroy"></span>
  <span class="glyphicon glyphicon-share"></span>
  <span class="glyphicon glyphicon-export"></span>
</span>
