<div class="row">
	<div class="note-content col-sm-8" contenteditable="true">{{{title}}}</div>
	<!-- <div class="note-content">{{{subtitle}}}</div> -->
	<span class="feats hidden-xs col-sm-4">
		<span class="icon-feats-tag" title="Tag"></span>
		<span class="icon-feats-share" title="Share"></span>
		<span class="icon-feats-attach" title="Attach"></span>
		<span class="icon-feats-export" title="Export"></span>
		<span class="icon-feats-emoticon" title="Emoticons"></span>
		<span class="icon-feats-delete" title="Delete"></span>
	</span>
</div>