<div class="row">
	<div class="note-content col-sm-8" contenteditable="true">{{{title}}}</div>
	<!-- <div class="note-content">{{{subtitle}}}</div> -->
	<span class="leaves hidden-xs col-sm-4">
		<span class="icon-leaves-tag" title="Tag"></span>
		<span class="icon-leaves-share" title="Share"></span>
		<span class="icon-leaves-attach" title="Attach"></span>
		<span class="icon-leaves-export" title="Export"></span>
		<span class="icon-leaves-emoticon" title="Emoticons"></span>
		<span class="icon-leaves-delete" title="Delete"></span>
	</span>
</div>