<!--
	<input id="new-note" placeholder="What are you learning about?" autofocus>
	<div class="actions">
-->
<div id="dropBefore" class="dropTarget"></div>
<button class="btn btn-success btn-xs move" draggable="true">MOVE</button>
<!-- </div> -->
<!-- <div class="highlight"></div> -->
<div class="noteContent">{{{title}}}</div>
<button class="destroy"></button>
<div class="descendants"></div>
