<!-- <div class="actions"> -->
<button class="btn btn-success btn-xs tab">TAB</button>
<!-- </div> -->
<!-- <div class="highlight"></div> -->
<!-- <div class="dropTarget"></div> -->
<div class="noteContent">{{{title}}}</div>
<button class="destroy"></button>
<div class="descendants"></div>
