<div id="dropBefore" class="dropTarget"></div>
<!--	<div class="bulletpoint"></div>
	<div class="highlight"></div> -->
<button class="btn btn-success btn-xs move" draggable="true">lll</button>
<div class="noteContent">{{{title}}}</div>
<!-- <div class="noteContent">{{{subtitle}}}</div> -->
<div class="feats">
  <span class="trash_icon sprite destroy"></span>
</div>
<div class="descendants"></div>
