<div id="dropBefore" class="dropTarget"></div>
<!--
	<div class="bulletpoint"></div>
	<div class="highlight"></div>
-->
<button class="btn btn-success btn-small move" draggable="true">III</button>
<div class="noteContent">{{{title}}}</div>
<!--
	<div class="noteContent">{{{subtitle}}}</div>
	<div class="feats"></div>
-->
<button class="destroy"></button>
<div class="descendants"></div>
