<button id="untab{{{id}}}"  class="btn btn-danger btn-xs untab">UN</button>
<button id="tab{{{id}}}"class="btn btn-success btn-xs tab">TAB</button>
<div class="noteContent">{{{indent}}}{{{title}}}</div>
<button class="destroy"></button>
<div class="note-descendants"></div>
