<footer>
  <ul>
    <li class="pull-left">© 2014 Notable, LLC</li>
    <li class="pull-right">Questions?
    	<%= mail_to "hello@getnotable.com", "Contact Us" %>
    </li>
  </ul>
  <script type="text/javascript">
  mixpanel.track_links("#nav a", "click nav link", {
      referrer: document.referrer
  });
	</script>
</footer>
