<header>
<nav class="navbar-fixed-top" role="navigation">
	<div class="navbar-header row">
		<div class="col-xs-1 xs-toggle-left">
			<button type="button" class="btn btn-info btn-xs sidr-toggle-left">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
		</div><div class="col-xs-9 col-sm-12 logo">
			<%= image_tag("logo/logo.png", alt: "Notable", class: "logo-icon hidden-xs")%>
			<h2 class="logo-name visible-xs">Notable</h2>
		</div><div class="col-xs-2 xs-toggle-right">
			<button type="button" class="btn btn-info btn-xs sidr-toggle-right">
				<span class="glyphicon glyphicon-cog"></span>
			</button>
		</div>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<ul class="nav navbar-nav navbar-right hidden-xs">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-cog lg"></span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Sign Out</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Give Feedback</a></li>
			</ul>
		</li>
	</ul>

	<li id="search_field">
	  <%= form_tag note_search_path, class: "navbar-search", method: :get, remote: true do %>
	      <%= text_field_tag :query, params[:query], class: "search-query", placeholder:"Search" %>
	  <% end %>
	</li>

	<form class="navbar-form navbar-right hidden-xs" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
	</form>
</nav>
</header>
