<header class="navbar ">
  <div class="navbar-inner" id="navbar-main">
  Logo
    <nav>
      <ul class="nav pull-right signed_out">
        <li>Help</li>
        <li>Sign in</li>
      </ul>
    </nav>
  </div>
</header>
