<header class="navbar ">
  <div class="navbar-inner" id="navbar-main">
  Logo
    <nav>
      <ul class="nav pull-right signed_out">
        <li>[-----Search-----]</li>
        <li>(Gear)</li>
      </ul>
    </nav>
  </div>
</header>