<header class="navbar ">
  <div class="navbar-inner" id="navbar-main">
  Logo
    <nav>
      <ul class="nav pull-right signed_out">
        <li>[-----Search-----]</li>
        <li><button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-cog"></span>
				</button></li>
      </ul>
    </nav>

  </div>
</header>