<% if user_signed_in? %>
	<%= render 'scaffold/header_in' %>
	<div class="container">
		<div id="message-region"></div>
		<div id="content-region"></div>
		<div id="sidebar-region"></div>
	</div>
<% else %>
	<%= render 'scaffold/header_out' %>
	<%= render 'static/landing' %>
	<!-- < %= # render 'scaffold/footer' %> -->
<% end %>