<div class="notify {{notificationType}}">{{notification}}</div>

{{!--

this template shoud be displayed within the notification-region

"notification" likely matches up with the "alertType" you have already implemented

"notificationType" likely matches up with the "alertClass" you have already implemented

--}}