<p>Select the notebooks you want to sync from Evernote:</p>
<div id="checkbox-region"></div>
<button class="btn btn-submit continue">Continue</button>
<button class="btn btn-default cancel">Cancel</button>

<p><small>Warnings:
<ul>
	<li>Syncing may take up to a minute per notebook on slow connections.  If it takes longer than that, a problem has likely occurred.  Please refresh the page and notify us of the issue.</li>
	<li>Avoid selecting notebooks with images and other attachments, since this is still unsupported.</li>
	<li>Links and formatting will be preserved when sent from Notable, but not when being received from Evernote.</li>
</ul>
</small></p>