<%= render 'scaffold/header_out' %>
<div class="container" id="static">
	<h2>Checkout</h2>

	<p>Pay for an upgrade here through Stripe.</p></br>

	<a href="delivery" class="btn btn-info">I Agree</a>
</div>