<%= render 'scaffold/header_out' %>
<div class="container" id="static">
	<h2>Thank You</h2>

	<p>Your account now has access to all of Notable's premium features! You probably feel smarter already.</p>

</div>
<%= render 'scaffold/footer_in' %>