<%= render 'scaffold/header_out' %>
<div class="container" id="static">
	<h2>Choose a plan</h2>

	<p>Basic Account - Free</p>
	<p>Monthly Membership - $2.95/month</p>
	<p>Annual Membership - $25/year</p></br>

	<a href="checkout" class="btn btn-info">Proceed to Checkout</a>

</div>