@import "../variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
@media (max-width: $screen-sm) {
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	#modview-region {
		display: inline-block;
		height: inherit;
		padding: 0.7% 0 0 1.7%;
		.outline_icon {
			&:hover { background-position: -2px -93px; }
			&:active { background-position: -29px -93px; }
			&.selected:hover { background-position: -206px -61px; }
		}
		.mindmap_icon {
			&:hover { background-position: -125px -61px; }
			&:active { background-position: -152px -61px; }
			&.selected:hover { background-position: -98px -61px; }
		}
		.grid_icon {
			&:hover { background-position: -110px -93px; }
			&:active { background-position: -137px -93px; }
			&.selected:hover { background-position: -83px -93px; }
		}
	}
	.modview-btn {
		margin-right: 5px;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
		&:hover { cursor: pointer; }
	}

}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#modview-region {
		padding: 0.6% 0 0 3.3%;
	}
	.modview-btn {
		margin-right: 10px;
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		-ms-transform: scale(1.4);
		-o-transform: scale(1.4);
		transform: scale(1.4);
	}

}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}