@import "../variables";
@import "compass/css3";
$hiddenModviews: 10;
$revealedWidth: 37px * $hiddenModviews;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
#modview-region {
	display: none;
}

@media (max-width: $screen-sm) {
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------

@media (min-width: $screen-sm) {
	#modview-region, .message-template {
		display: inline-block;
		padding: 0 1.6% 0 1.7%;
		span {
			color: $gray;
			&:hover i { color: $notableYellow; cursor: pointer; }
			&:active i { color: $notableOrange; }
			&.selected i { color: $notableBlue; }
		}
	}
	.message-template {
		span i { font-size: 32px; }
	}
	#modview-region {
		float: right;
		text-align: right;
		overflow: hidden;
		// border-left: 2px solid rgba(61, 61, 61, 0.1);
		span i { font-size: 34px; }
		@include transition(width 0.5s ease);
		// &:hover {
		//  #hidden-modviews { width: $revealedWidth; }
		// }
	}

}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#modview-region, .message-template {
		margin-top: -1px;
	}
	.message-template {
		span i { font-size: 35px; }
	}
	#modview-region {
		span i { font-size: 37px; }
	}

}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}