@import "../variables";
@import "compass/css3";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
#modview-region {
	display: none;
}

@media (max-width: $screen-sm) {
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------

$noModviewIcons: 10;
$modview-W: 37px * $noModviewIcons;

@media (min-width: $screen-sm) {
	#modview-region, .message-template {
		//border-left: 2px solid rgba(61, 61, 61, 0.1);
		display: inline-block;
		height: inherit;
		margin-top: 0px;
		padding: 0;
		width: 115px;
		text-align: left;
		@include transition(width 0.5s ease);
		//&:hover { width: $modview-W; }
		.inner {
			width: $modview-W;
		}
		
		span {
			display: inline-block;
			text-align: center;
			&:hover i { color: $notableYellow; cursor: pointer; }
			&:active i { color: $notableOrange; }
			&.selected i { color: $notableBlue; }
			i {
				display: inline-block;
				color: $gray;
				font-size: 32px;
				
				&.icon-modview-icons-02, &.icon-modview-icons-03 {
					&:hover {
						color: $gray;
						cursor: default;
					}
				}
			}
		}
	}
	
	#modview-region {
		float: right;
		text-align: right;
		overflow: hidden;
		direction: rtl;
	}
	
	// .modview-btn {
	// 	margin-right: 5px;
	// 	-webkit-transform: scale(1.2);
	// 	-moz-transform: scale(1.2);
	// 	-ms-transform: scale(1.2);
	// 	-o-transform: scale(1.2);
	// 	transform: scale(1.2);
	// 	&:hover { cursor: pointer; }
	// }
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#modview-region {
		padding: 0;
	}
	// .modview-btn {
	// 	margin-right: 10px;
	// 	-webkit-transform: scale(1.4);
	// 	-moz-transform: scale(1.4);
	// 	-ms-transform: scale(1.4);
	// 	-o-transform: scale(1.4);
	// 	transform: scale(1.4);
	// }

}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}