@import "../variables";

$successNotifyBorder: rgba(88, 199, 71, 0.8);
$successNotifyBackground: #dff0d8;
$successNotifyText: $notableGreen;

$warningNotifyBorder: #faebcc;
$warningNotifyBackground: #fcf8e3;
$warningNotifyText: #c09853;

$dangerNotifyBorder: rgba(237, 24, 85, 0.8);
$dangerNotifyBackground: #f2dede;
$dangerNotifyText: $notableRed;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
#notification-region {
	padding: 0;
	&.col-sm-3, &.col-md-4 { min-height: 0px; }
}
.notify {
	padding: 0.5em 1em;
	z-index: 1140;
	position: static;
	width: 100%;
	margin-bottom: 0;
	margin-left: 20px;
	border: none;
	a:hover { cursor: pointer; }
}
.alertText{

}
.closeAlert{
	float: right;
	cursor: pointer;
	font-size: 1.4em;
	opacity: 0.8;
	font-weight: bold;
}
.success-notification{
	background-color: $successNotifyBackground;
	color: $successNotifyText;
	border: 1px solid $successNotifyBorder;
}
.warning-notification{
	background-color: $warningNotifyBackground;
	color: $warningNotifyText;
	border: 1px solid $warningNotifyBorder;
}
.danger-notification{
	background-color: $dangerNotifyBackground;
	color: $dangerNotifyText;
	border: 1px solid $dangerNotifyBorder;
}
.save-notification{
	color: $grayDark;
	// padding: 0 1em;
	z-index: 1140;
	position: static;
	&>div { padding: 0.5em 1em; }
}

@media (max-width: $screen-sm) {
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	#notification-region {
		display: inline-block;
		width: 65%;
	}
	.notify {
		padding:  0.42em 1.0em 0.42em 1.2em;
		position: absolute;
		left: -2em;
		border-radius: 4px;
	}
	.save-notification {
		position: fixed;
		left: 60.5%;
		top: 0.5em;
		width: 12em;
	}
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: 860px) {
	.save-notification {	left: 64.5%; }
}
@media (min-width: $screen-md) {
	.notify {
		left: -3.5em;
		width: 48em;
	}
}
// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: 1100px) {
	.save-notification {	left: 68%; }
}
@media (min-width: $screen-lg) {
	.save-notification { left: 71%; }
}




