@import "../variables";

$successNotifyBorder: #d6e9c6;
$successNotifyBackground: #dff0d8;
$successNotifyText: #468847;

$warningNotifyBorder: #faebcc;
$warningNotifyBackground: #fcf8e3;
$warningNotifyText: #c09853;

$dangerNotifyBorder: #ebccd1;
$dangerNotifyBackground: #f2dede;
$dangerNotifyText: #b94a48;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
@media (max-width: $screen-sm) {
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	#notification-region {
		display: inline-block;
		width: 65%;
		padding: 0;
	}
	.notify {
		padding: 5px 12px;
		position: absolute;
		z-index: 5;
		left: -2em;
		width: 100%;
		margin-bottom: 0;
		border-radius: 4px;
	}
	.alertText{

	}
	.closeAlert{
		float: right;
		cursor: pointer;
	}
	.success-notification{
		background-color: $successNotifyBackground;
		color: $successNotifyText;
		border: 1px solid $successNotifyBorder;
	}
	.warning-notification{
		background-color: $warningNotifyBackground;
		color: $warningNotifyText;
		border: 1px solid $warningNotifyBorder;
	}
	.danger-notification{
		background-color: $dangerNotifyBackground;
		color: $dangerNotifyText;
		border: 1px solid $dangerNotifyBorder;
	}
	.save-notification{
		color: $grayDark;
	}
}



// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	.notify {
		left: -3.5em;
		width: 48em;
	}
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}