@import "../variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
#notebook-region {
	li.trunk {
		label {
			font: 12px "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
		}
		span.remove {
			display: none;
			color: $grayUltraLight;
			margin: 9px 11px 0 0;
			font-size: 1.4em;
			&:hover {
				color: $notableYellow;
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
		input { display: none; }
		&:hover span.remove {
			display:inline-block;
		}
	}
	li.trunk.editing {
		label { display: none; }
		&:hover span.remove { display:none; }
		input {
			color: $white;
			display: inline-block;
			background-color: $grayUltraDark;
			border: none;
			letter-spacing: 0.4px;
			line-height: 16px;
			padding: 10px 0;
			outline: none;
		}
	}

	li.trunk-input {
		#new-trunk {
			color: $white;
			display: inline-block;
			background-color: $grayUltraDark;
			border: none;
			width: 83%;
			letter-spacing: 0.4px;
			line-height: 16px;
			padding: 10px 0;
			outline: none;
			-webkit-font-smoothing: antialiased;
			&::-webkit-input-placeholder { font-style: italic; letter-spacing: 0; font-size: 0.9em; }
			&:-moz-placeholder { font-style: italic; letter-spacing: 0; font-size: 0.9em; }
			&::-moz-placeholder { font-style: italic; letter-spacing: 0; font-size: 0.9em; }
			&:-ms-input-placeholder { font-style: italic; letter-spacing: 0; font-size: 0.9em; }
		}
		.new-trunk-btn {
			display: inline-block;
			margin: 8px 0 0 0;
			padding: 1px 3px 2px 4px;
			border: 2px solid $grayDark;
			color: $grayDark;
			line-height: 1.2em;
		}
	}

	#forest:last-child {
		border-bottom: 1px solid $black;
	}

}

@media (max-width: $screen-sm) {
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	#notebook-region {
		label {	width: 83%; }
		li.trunk-input {
			#new-trunk {
				line-height: 20px;
				padding: 8px 0;
			}
		}

		li.trunk.editing {
			input {
				line-height: 20px;
				padding: 8px 0;
			}
		}

	}
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#notebook-region {
		li.trunk {
			label {	font-size: 14px; }
			span.remove {
				margin-right: 12px;
				font-size: 1.2em;
			}
		}

		li.trunk-input {
			.new-trunk-btn { margin-top: 7px; }
		}
	}
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}