@import "compass/css3";

$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableGray: #EAEAEA;
$notableBlack: #3D3D3D;
$notableDarkGray: #999999;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------

.sidr {

	form {
		margin: 0 15px;
	}

	label {
		font-size: 14px;
	}

	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	textarea, select {
		width: 84%;
		height: 2em;
		padding: 0 1.5em;
		@include box-sizing(border-box);
		@include border-radius(15px);
		margin: 0.5em 0;
		border: $notableGray;
		display: inline-block;
		clear: both;
	}

	input[type=checkbox] {
		width: auto;
		display: inline;
		clear: none;
	}

	input[type=button],
	input[type=submit] {
		color: #333333;
		background: $notableWhite;
	}

	.glyphicon-search {
		color: $notableWhite;
		border: 1px solid white;
		border-radius: 14px;
		padding: 7px;
		margin-left: 3px;
		display: inline-block;
		position: relative;
		top: 4px;
	}
}