@import "compass/css3";
@import "../variables";

$sidr-background: $grayDark;
$sidr-text-color: $white;
$sidr-font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------

.sidr {
	/* Default Settings */
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 98;
	width: 260px;
	overflow-x: none;
	overflow-y: auto;

	&.left {
		left: -260px;
		right: auto;
		@include single-box-shadow($black, -7px, 3px, 14px, 3px, inset);
	}

	/* Theme Settings */
	font-family: $sidr-font-family;
	background: $grayUltraDark;
	color: $sidr-text-color;

	h1, h2, h3, h4, h5, h6 {
		font-size: 12px;
		font-weight: bold;
		padding: 0 15px;
		margin: 0;
		background-color: $grayDark;
		color: $sidr-text-color;
		line-height: 22px;
		border-top: 1px solid darken($sidr-background, 14%);
		@include single-box-shadow($black, -14px, 0px, 21px, -7px, inset);
		.list-toggle {
			margin-right: 0.5em;
			padding: 0;
			cursor: pointer;
			-webkit-transition: -webkit-transform 0.4s;
			-moz-transition: -moz-transform 0.4s;
			-ms-transition: -ms-transform 0.4s;
			-o-transition: -o-transform 0.4s;
			transition: transform 0.4s;
			&.closed {
				-ms-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
	}

	ul {
		display: block;
		margin: 0;
		padding: 0;
		li {
			display: block;
			margin: 0;
			line-height: 36px;
			border-bottom: 1px solid $black;
			padding: 0 15px;
			color: $sidr-text-color;
			cursor: pointer;
			&:hover { color: $notableYellow; }
			&:active {
				border-top: none;
				color: $notableOrange;
				@include single-box-shadow($black, 0, 0, 15px, 3px, inset);
			}
			&.selected {
				color: #49A4FF;
				&:active { color: $notableBlue; }
			}
			&:last-child { border-bottom: none; }
		}

	}
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}