@import "compass/css3";
@import "../variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------

.sidr {

	&.right {
		left: auto;
		right: -260px;
		@include single-box-shadow($notableBlack, 7px, 3px, 14px, 3px, inset);
	}

	form {
		margin: 0 15px;
	}

	label {
		font-size: 14px;
	}

	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	textarea, select {
		width: 93%;
		height: 2em;
		padding: 0 1.5em;
		@include box-sizing(border-box);
		@include border-radius(15px);
		margin: 0.5em;
		border: $gray;
		display: inline-block;
		clear: both;
	}

	input[type=checkbox] {
		width: auto;
		display: inline;
		clear: none;
	}

	input[type=button],
	input[type=submit] {
		color: #333333;
		background: $notableWhite;
	}

	.glyphicon-search {
		color: $grayDark;
		padding: 0;
		margin-right: 20px;
		float: right;
		position: relative;
		top: -27px;
	}
}