$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableBlack: #3D3D3D;

$notableLightGray: #C1C1C1;
$notableGray: #EAEAEA;
$notableDarkGray: #999999;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
html {
  overflow-y: scroll;
}

body {
	height: 100%;
  background-image:url('../../satinweave.png');
  font: 12px 'Verdana','Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: $notableBlack;
	margin: 0 auto;
	padding: 35px 0 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.container {
	padding: 35px 0 0 0;
}

/* --------------HEADER REGION ------------------ */
nav {
	&.navbar-default {
		height: 35px;
		background-color: $notableGray; /* Old browsers */
		background: -moz-linear-gradient(top, #FDFDFD 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #FDFDFD 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -ms-linear-gradient(top, #FDFDFD 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(to bottom, #FDFDFD 0%,#cccccc 100%); /* W3C */
	}

	.sidebar-toggle-xs {
		display: inline-block;
		margin: 8px 15px;
	}

	.navbar-brand {
		padding: 8px 15px;
	}

	.logo {
		color: $notableBlue;
		&.logo-icon {
			display: none;
		}
		&.logo-name {
			display: inline;
			font-size: 18px;
			// This is a hack
			position: relative;
			left: 10em;
			bottom: 2.2em;
		}
	}
}

/* --------------MESSAGE REGION ------------------ */
#message-center {
	display: none;
}

.btn-default:focus {
	outline: none;
	background-color: white;
	border-color: #CCCCCC;
}

.btn-default:active {
	-webkit-box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.17);
	box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.17);
	background-color: #ebebeb;
	border-color: #adadad;
}

/* --------------CONTENT REGION ------------------ */
	#content-template {
		margin: 0;
		border-radius: 10px;
		h3 {
			font-size: 1.1em;
			margin: 1em auto;
		}
	}

/* --------------SIDEBAR REGION ------------------ */
	/*** Notebooks ***/
	/*** Recent Notes ***/
	/*** Favorites ***/
	/*** Tags ***/

/* --------------FOOTER REGION ------------------ */


@media (max-width: $screen-sm) {
	nav .navbar-nav,.navbar-form {
		display: none;
	}
}


// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	body {
		padding-top: 50px;
	}
	.container {
		padding: 0 15px;
		max-width: $screen-sm;
	}

	nav {
		&.navbar-default {
			height: 40px;
		}
		.navbar-form {
			margin: 7px 0;
			.form-control {
				height: 27px;
				font-size: 12px;
			}
		}
		.navbar-nav > li > a {
			padding: 11px 15px;
		}

		.sidebar-toggle-xs {
			display: none;
		}
		.logo {
			&.logo-icon {
				display: inline;
			}
			&.logo-name {
				font-size: 24px;
				padding-left: 0.7em;
				// This is a hack
				position: static;
			}
		}
	}


	#message-center {
		display: block;
		height: 3em;
		padding-top: 0;
		.message-template {
			display: inline-block;
			padding: 0 0 0 0.4em;

		}
	}

	#content-template {
		display: block;
		background-image:url('../../cardboard_@2X.png');
		position: relative;
		margin-bottom: 2em;
		border-radius: 7px;
		border: 1px solid #C1C1C1;
		h3 {
			color: $notableDarkGray;
			font-family: 'Century Gothic', "Arial", sans-serif;
			text-align:center;
			font-size: 0.9em;
			margin: 0.9em auto;
			font-weight: bold;
		}
	}

}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	body {
	  font-size: 14px;
		padding-top: 60px;
	}
	.container {
		max-width: $screen-md;
	}

	nav {
		&.navbar-default {
			height: 45px;
		}
		.navbar-form {
			.form-control {
				font-size: 14px;
				height: 30px;
			}
		}
		.navbar-nav > li > a {
			padding: 15px;
		}
		.logo.logo-name {
			font-size: 28px;
		}
	}

	#message-center {
		padding-top: 4px;
	}

	#content-template {
		margin-bottom: 5em;
		border-radius: 10px;
		h3 {
			font-size: 1.1em;
			margin: 1em auto;
		}
	}

}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
	.container {
		// border: 3px solid red;
	}
}