@import "../variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
.move {
	margin: 0;
	padding: 0 0 5px 0;
	color: $notableBlack;
	border: none;
	background: none;
	line-height: 0.8em;
	outline: none;
  &.is-collapsed { color: $notableBlue; }
	&:after {content: "•";}
}

.branch {
	position: relative;
	font-size: 12px;
	line-height: 0.8em;
	font-family: Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	.note-content {
		margin-left: 3px;
		width: 97%;
		display: inline-block;
		outline: none;
	}
}

.descendants.collapsed {
	display: none;
	// visibility: hidden;
}

.descendants {
	margin-left: 1.8em;
	-webkit-transition-property: all;
	-webkit-transition-duration: 4s;
	transition-property: all;
	transition-duration: 4s;
}

/*** Drag N Drop ***/

// Prevent the text contents of draggable elements from being selectable.
[draggable] {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.dropTarget {
	height: 10px;
	width:100%;
	display: inline-block;
}
.dropTarget.over {
	border-top: 3px dashed #AAAEAE;
}

@media (max-width: 450px) {
	#tree .branch .note-content {
		width: 94%;
	}
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	.move {
		padding: 1px 5px;
		font-size: 16px;
	}
	.branch {
		font-size: 14px;
		line-height: 0.9em;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, sans-serif;
		letter-spacing: -0.1px;
		.note-content {
			margin-left: 0;
			width: 95%;
		}
	}
	.descendants {
		margin-left: 2.1em;
	}

}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	.move {
		line-height: 0.7em;
		font-size: 18px;
	}
	.branch {
		font-size: 15px;
		line-height: 1.0em;
		letter-spacing: -0.3px;
	}

}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}
