@import "../variables";
@import "compass/css3";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------

.bullet {
	border: 2px solid $black;
	border-radius: 100%;
	margin: 0;
	padding: 0;
	background-color: $white;
	outline: none;
	height: 9px;
	width: 9px;
	z-index: 21;
	@include box-sizing(border-box);
  &.is-collapsed { background: $grayDark; }
	position: absolute;
	top: 0.65em;
	left: 0;
	&.dropBefore {
		border: 2px solid #14A4FF;
		border-top-right-radius: 0;
		background: $white;
	}
	&.dropAfter {
		border: 2px solid #14A4FF;
		border-bottom-right-radius: 0;
		background: $white;
	}
}
.branch {
	position: relative;
	line-height: 1.2em;
	padding: 5px 0;
	font-family: Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	font-size: 12px;
	&.root { font-size: 1.05em; }
	.note-content {
		margin-left: 1.4em;
		width: 97%;
		display: inline-block;
		outline: none;
		z-index: 14;
		position: relative;
	}
	a.titleLink {
		text-decoration: underline;
		&:hover { cursor: pointer; }
	}
}
.descendants { margin-left: 1.8em; }

// Prevent the text contents of draggable elements from being selectable.
[draggable] {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.dropTarget {
	position: absolute;
	height: 5px;
	width: 100%;
	z-index: 8;
	&.dropBefore { top: 0; }
	// &.dropBefore { outline: 1px solid blue; }
	// &.dropAfter { outline: 1px solid green; }
}
.dropTarget.moving {
	z-index: 16;
	height: 19px;
	&.dropBefore {
		top: -7px;
	}
	&.dropBefore.over {
		top: -12px;
	}
}

.branch-template {
	transition-property: all;
	transition-duration: 0.2s;
	&.before { padding-top: 7px; }
	&.after { padding-bottom: 7px; }
}

@media (max-width: $screen-xs) {
	#tree .branch .note-content {
		width: 94%;
	}
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	.bullet {
		height: 11px;
		width: 11px;
		left: 0.2em;
		top: 0.55em;
	}
	.branch {
		font-size: 13px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, sans-serif;
		letter-spacing: -0.1px;
		.note-content {
			width: 95%;
			margin-left: 1.6em;
		}
	}
	.branch.root>.bullet { top: 0.6em; }
	.descendants {
		margin-left: 2.1em;
	}

}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	.bullet {
		height: 12px;
		width: 12px;
		top: 0.5em;
		left: 0;
	}
	.branch {
		font-size: 14px;
		letter-spacing: -0.3px;
		.note-content { margin-left: 1.4em; }
	}
	.branch.root>.bullet { top: 0.55em; }
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}
