$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableBlack: #3D3D3D;

$grayLight: #EAEAEA;
$gray: #C1C1C1;
$grayDark: #989898;
$grayUltraDark: #515151;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------

#content-template {
	margin: 0;
	border-radius: 10px;

	.breadcrumb {
		background-color: $notableWhite;
		font: 16px Tahoma, Helvetica, Arial, sans-serif;
		padding: 3% 0 0 3%;
		margin: 0;
		li:last-child {
			font-weight: bold;
		}
		> li {
			color: $notableBlack;
			+ li:before {
				color: $notableBlack;
				padding: 0 0 0 4px;
				font-weight: normal;
			}
			a {
				cursor: pointer;
				color: $notableBlack;
			}
		}
	}

}

#crown {
	display: none;
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	#content-template {
		display: block;
		background-image: asset-url('cardboard_@2X.png', image);
		position: relative;
		margin-bottom: 2em;
		border-radius: 7px;
		border: 1px solid #C1C1C1;

		h3 {
			color: $grayDark;
			font-family: 'Century Gothic', "Arial", sans-serif;
			text-align:center;
			font-size: 1em;
			margin: 0 auto;
			font-weight: bold;
		}
		#breadcrumb-region {
			margin: 0 0.9em;
			padding: 0.9em 15px;
		}

		.breadcrumb {
			background-color: transparent;
			font: 1em 'Century Gothic', "Arial", sans-serif;
			font-weight: bold;
			padding: 0;
			line-height: 1.1em;
			position: relative;
			left: 43.6%;
			width: 57%;
			overflow: hidden;
			height: 1.1em;
			-webkit-transition-property: all;
			-webkit-transition-duration: 1.2s;
			-webkit-transition-timing-function: ease-in-out;
			-webkit-transition-delay: 0.5s;
			transition-property: all;
			transition-duration: 1.2s;
			transition-timing-function: ease-in-out;
			transition-delay: 0.5s;
			&:hover { text-align: left;	}
			.chain-breadcrumb {	display: inline-block; }
			> li.root-breadcrumb a { color: $grayDark; }
		}
		.breadcrumb > li {
			margin: 0 auto;
			color: $grayDark;
			display: inline-block;
			+ li:before , &.chain-breadcrumb, &.chain-breadcrumb a {
				color: transparent;
				-webkit-transition-property: all;
				-webkit-transition-duration: 1.2s;
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-delay: 0.4s;
				transition-property: all;
				transition-duration: 1.2s;
				transition-timing-function: ease-out;
				transition-delay: 0.4s;
			}
		}
		#breadcrumb-region:hover .breadcrumb {
			left: 0;
			width: 100%;
			overflow: visible;
			> li + li:before ,
			> li.chain-breadcrumb,
			> li.chain-breadcrumb a {
				color: $grayDark;
			}
		}

	}

	#crown {
		display: block;
		background: $notableWhite;
		padding: 3% 0 1% 3.5%;
		font-size: 20px;
		margin: 0 2.4%;
		border: 1px solid $grayLight;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		border-bottom: none;
	}
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#content-template {
		margin-bottom: 5em;
		border-radius: 10px;
		h3 {
			font-size: 14px;
		}
		#breadcrumb-region {
			font-size: 14px;
			margin: 0 1em;
			padding: 1em 16px;
		}
		.breadcrumb {
			left: 44.7%;
		}
	}

	#crown {
		font-size: 22px;
		margin: 0 2.5%;
		padding: 3.5% 4% 0 4%;
		&:hover .trash_icon {
			display: block;
		}
		.trash_icon {
		  &:active {background-position: -50px -2px;}
		  &:hover {
		  	background-position: -26px -2px;
		  	-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
		  }
		  cursor: pointer;
			display: none;
			position: absolute;
			top: 3.2em;
			right: 2em;
		}
	}

}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}
