@import "../variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------

#crown {
}

.bullet {
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	#crown {
		.leaves {
			font-size: 23px;
			padding-left: 0;
			margin-top: -4px;
			line-height: 20px;
			span {
				cursor: pointer;
				&.icon-leaves-tag { padding-right: 2px; }
				&.icon-leaves-emoticon { padding-right: 2px; }
				&.icon-leaves-delete {
					border-left: 2px solid $gray;
					padding-left: 9px;
					padding-right: 0;
				}
				&:hover { color: $notableYellow; }
				&:active { color: $notableOrange; }
			}
		}
	}

	.bullet {
	}

}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#crown {
		.leaves {
			font-size: 27px;
			text-align: right;
			padding-right: 12px;
			span {
				padding: 1px;
				&.icon-leaves-tag { padding-right: 3px; }
			}

		}
	}

	.bullet {
	}

}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}
