@import "../variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
#tree {
	background: $white;
	border: 1px solid $grayLight;
	border-radius: 2px;
	padding: 1% 3%;
	margin: 0;
	min-height: 600px;
	border-top: none; // crown adjustment
}

@media (max-width: $screen-xs) {
	#tree {	min-height: 450px; }
}
// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {

	#tree {
		margin: 0 2.4% 2.4% 2.4%;
		min-height: 700px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#tree {
		padding: 1% 5%;
		margin: 0 2.5% 2.5% 2.5%;
		min-height: 750px;
	}
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
	#tree {
		min-height: 800px;
	}
}