$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableBlack: #3D3D3D;

$grayLight: #EAEAEA;
$gray: #C1C1C1;
$grayDark: #989898;
$grayUltraDark: #515151;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
#tree {
	background: $notableWhite;
	border: 1px solid $grayLight;
	border-radius: 2px;
	padding: 1% 4%;
	margin: 0;
	min-height: 450px;
	border-top: none; // crown adjustment
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {

	#tree {
		padding: 1% 4%;
		margin: 0 2.4% 2.4% 2.4%;
		min-height: 600px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#tree {
		padding: 1% 5%;
		margin: 0 2.5% 2.5% 2.5%;
		min-height: 700px;
	}
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
	#tree {
		min-height: 800px;
	}
}