@import "compass/css3";
@import "../variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
#tree {
	background: white;
	padding: 10px;
	margin: 0;
	min-height: 600px;
}

@media (max-width: $screen-xs) {
	#tree {
		min-height: 450px; 
	}
}
// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {

	#tree {
		border-radius: 4px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		min-height: 700px;
		padding: 20px;
	}
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#tree {
		// padding: 15px 20px;
		min-height: 750px;
	}
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
	#tree {
		min-height: 800px;
	}
}