<%= render 'scaffold/header_out' %>
<div class="container" id="static">

	<h2>Jobs</h2>
	<p>Notable is hiring! If you are passionate about learning, personal growth and Evernote, we'd love to hear from you! Since one of our core philosophies is that people can become whatever they want, we are less concerned with your current skill-set and much more interested with your ability to learn on the job.  If you're interested, just drop us a line at hello@getnotable.com! </p>

</div>
<%= render 'scaffold/footer_in' %>
