<%= render 'scaffold/header_out' %>
<div class="container" id="static">

	<h2>About</h2>
	<p>Notable is a note-taking app for learning more efficiently and effectively. It does this by allowing users to easily play with and restructure their ideas as they come to understand the nuances of a new subject.  In addition, Notable help learners view their notes in a way that makes the most sense to them, whether that's top-down, left-right or side-by-side.  Our goal is to help you make more connections, gain a deeper understanding, and reach that moment when it all just makes sense.</p>

</div>
<%= render 'scaffold/footer_in' %>
