<%= render 'scaffold/header_in' %>
<div class="container about" id="static">
	<h2>About</h2>

	<h4>Company Background</h4>
	<p>Notable is a note-taking app for learning more efficiently and effectively. It does this by allowing users to easily play with and restructure their ideas as they come to understand the nuances of a new subject. In addition, Notable helps learners view their notes in a way that makes the most sense to them, whether that’s as a top-down outline, left-right mindmap or something else completely. The goal is to help users make more connections, gain a deeper understanding, and reach that moment when it all just makes sense.</p>

	<p>Notable originated as a tool to help users make sense of the flood of thoughts, ideas, and responsibilities inundating the mind of the modern worker. At the time, the hypothesis was that once Notable helped users manage all that information, they could start becoming more productive. However, a number of key insights changed that dynamic:
	<ul>
	 	<li>First off, there seems to be a new todo-list app that comes out every month.  If that's what you're looking for, then you have more than enough options already.  Perhaps more telling is the fact that none of these <a href="http://productivityanywhere.com/2014/01/why-dont-project-management-tools/">tools</a> or <a href="http://productivityanywhere.com/2013/04/difference-between-productivity-systems/">systems</a> ever seem to <a href="http://productivityanywhere.com/2014/01/making-great-decisions/">work</a>.  The reality is that people are often unproductive not because they don’t know what needs to be done. but because they lack the motivation or discipline to actually do it.  As such, Notable shifted its focus away from task management and towards personal growth.</li>
	 	<li>A serendipitous consequence of this change is that Notable can now produce more meaningful outcomes than simply organized todo-lists.  Rather, helping users understand complex information represents <i>better learning</i>, which can lead to better test scores, better job performance, and can even be seen as a goal unto itself.</li>
	 	<li>Finally, the team at Notable believes that it is not only possible, but actually a right for each indiviudal to live up to his or her potential.  While daunting, everyone can get closer through a dedication to learning and a willingness to grow.  If the current wave of edtech interest is any indication, Notable is not alone in fighting for ways to allow people to take ownership of their education.</li>
	 </ul>
	Therefore, Notable is not just any run of the mill app for productivity – it is a tool for <b>Learning Faster and Understanding More</b>.  Notable is for empowering people to move confidently in the direction of their dreams, and to live the life they have always imagined.</p>

	<h4>Behind the Magic</h4>
	<p><i>Derek Chen</i> is the Lead Product Manager at Notable. As a product manager with a data science and analytics background, Derek started building Notable to build up his programming chops in an effort to become a rockstar product manager.  Along the way, in addition to code, he has also had to master user-centered design, project management methodologies, software architecture, web development, database administration, recruiting and a host of other activities that come with building a non-trivial product.  Fortunately, Notable is used for learning and the tool has been instrumental in making the entire growth process more efficient and even a bit fun!</p>

	<p><i>Mikael-Alexandre Pouliot</i> is the Lead Software Devloper at Notable.  He is an irreverent being who wants to bring change into the world and will not settle for doing things just because that is the way they have always been done.  Always looking to strike a balance, he considers himself dynamic and creative, yet pragmatic and studious at the same time.  Having left traditional education in his late teens, he is now a complete autodidact who strives to improve himself everyday. Fundamentally, he believes that everyday is a new opportunity to learn something new, and that the world needed a better tool to make that happen, so he set out to build one.</p>

</div>
<%= render 'scaffold/footer_in' %>
