<%= render 'scaffold/header_out' %>
<div class="container" id="static">
	<h2>Contact Us</h2>

	<p>Please email support@getnotable.com for any helpdesk related questions or technical issues you may have.  You can also visit our <a href="http://getnotable.uservoice.com">support page</a> to leave feedback or our <a href="help">help page</a> to see if your question has already been answered.</p>

	<p>For any other questions or comments, feel free to reach out to hello@getnotable.com.  We personally respond to every email within 24 hours, and we look forward to hearing from you!</p>

</div>
<%= render 'scaffold/footer_in' %>
