<%= render 'scaffold/header_in' %>
<div class="container" id="static">
	<h2>Help</h2>
	<h4><u>Best Practices when using Notable</u></h4>
	<p>Notable was made for learning and even in this nascent stage, Notable is great for taking notes in class.  Because it is so easy to organize your information with Notable, don't worry if you don't have everything in the perfect place when listening to a lecture or presentation.   When going to a different class, use the notebooks to keep all your different subjects organized.</p>
	<p>When taking notes from your textbooks or slides, just grab everything you might need and put it where it needs to go.  Each notebook can go infinitely deep, so don't worry about tackling complex subjects.  Notable can let you zoom in so that you can focus on only what you need.   If you want to see the big picture, just zoom out and collapse any notes where you don't need to see the details.</p>
	<p>Finally, get to know all the keyboard shortcuts as they will help you move around much more efficiently.</p>

	<h4><u>Keyboard Shortcuts</u></h4>
	<ul>
		<li>Deleting notes: Ctrl+Shift+Delete (Mac), Ctrl+Shift+Backspace (Win)</li>
		<li>Expand/Collapse: Ctrl+↑/↓ (up/down) </li>
		<li>Zoom In/Out: Ctrl+Alt+←/→ (left/right)</li>
		<li>Open/Close Sidebar: Ctrl+Shift+←/→ (left/right)</li>
		<li>Move notes around: Alt+↑/↓/←/→ (any direction)</li>
		<li>Undo actions: Ctrl+Z</li>
		<li>Saving notes: Cmd+S (Mac), Ctrl+S (Win)</li>
		<li>Bold: Cmd+B (Mac), Ctrl+B (Win)</li>
		<li>Italics: Cmd+I (Mac), Ctrl+I (Win)</li>
		<li>Underline: Cmd+U (Mac), Ctrl+U (Win)</li>
		<li>Strikethrough: Cmd+K (Mac), Ctrl+K (Win)</li>
	</ul>
	<p>Sometimes keyboard shortcuts might not work if they have been overriden by defaults on your computer.  If this is the case, please check your computer's settings to disable those settings.</p>

	<h4><u>Other Use Cases</u></h4>
	<ul>
		<li>Writing an email - When your emails start to get long and complicated, Notable can be used to help structure your ideas and keep everything organized.  With the new Paragraph Export feature (cloud icon), you can also seamlessly copy and paste your notes into your email for immediate sending.</li>
		<li>Taking Meeting notes - Even if you're not a student, you can still get plenty of benefits from Notable!  If you are in a business meeting and you need to quickly grab the information being said, and more importantly, understand how that information fits into the big picture, then Notable is great for helping to make those connections.  Notable's ability to create hierarchies that match you system of organization will help put everything in its place.</li>
		<li>Writing a blog entry - If you're just composing a tweet, then many other tools can suffice.  But if you're writing something more substantial, which requires you to think through many different ideas and keep it all organized, then that's where Notable fits in.  We now also have a great Paragraph Export feature (cloud icon), which lets you automatically formats your notes for creating a blog post.</li>
	</ul>

	<h4><u>Coming Soon</u></h4>
	<p>There are many features that are displayed, but aren't actually operational or have known issues.  These items include:</p>
	<ul>
		<li>Recent Notes</li>
		<li>Favorites</li>
		<li>Tags</li>
		<li>Search</li>
		<li>Redo (Cmd+Y, Ctrl+Y)</li>
		<li>Modviews (the buttons on the top-right, above the notebook)</li>
		<li>Leaves (the buttons on the top-right, which appear when zoomed in)</li>
	</ul>
	<p>As such, if you are having problems with these areas, then that is to be expected.   We are working every day to get features released and bugs fixed, so just know that we want to see these changes completed just as much as you want to use them.</p>
	<p>Many things also aren't operational on a tablet or smartphone, namely keyboard shortcuts.  We are actively working adding this functionality back in.</p>
	<p>Additionally, there are also many other features which aren't at all displayed, which are also on the roadmap. If there is anything on the list above that you want to see working before all the others, let us know by using the feedback form in the bottom-right, or emailing us at hello@getnotable.com.</p>

	<h4><u>FAQs</u></h4>
	<p>My page just faded away.  What just happened?</p>
	<ul>
		<li>If you do not use your mouse for a full minute, all the page's chrome will fade away, allowing you to focus on just your notes.  To get back all the buttons, just swipe your mouse over your notebook and everything will come back.</li>
		<li>One potential issue that might occur is when you use your keyboard to scroll up or down and all the content still reappears, forcing you to wait another minute for things to fade away again.  To avoid this, just move your mouse out of the notebook area when taking notes and you can scroll all your want!</li>
	</ul>
	<p>I really like where Notable can go! How can I help?</p>
	<ul>
		<li>Just drop us a line at hello@getnotable.com with any suggestions about how you want to contribute1</li>
	</ul>

</div>
<%= render 'scaffold/footer_in' %>
