<ul id="links">
	<li><a href="about">About</a></li>
	<li><a href="help">Help</a></li>
	<li><a href="privacy">Privacy</a></li>
	<li><a href="terms">Terms</a></li>
	<li><a href="contact">Contact</a></li>
</ul>