<div class="message-template col-sm-2 col-md-1">
	<button type="button" class="btn btn-default btn-sm sidebar-toggle">
	  <span class="glyphicon glyphicon-align-justify"></span>
	</button>
	<button type="button" class="btn btn-default btn-sm new-note" data-toggle="tooltip" title="add new note">
	  <span class="glyphicon glyphicon-plus"></span>
	</button>
</div>
<div id="notification-region" class="col-sm-8 col-md-9">
	<div class="alert alert-warning">Here's some notification you should be aware of when taking notes</div>
</div>
<div id="modview-region" class="col-sm-2 col-md-2">
	<button type="button" class="btn btn-default modview-btn outline">
	  <span class="glyphicon glyphicon-list-alt"></span>
	</button>
	<button type="button" class="btn btn-default modview-btn grid">
	  <span class="glyphicon glyphicon-th-large"></span>
	</button>
	<button type="button" class="btn btn-default modview-btn mindmap">
	  <span class="glyphicon glyphicon-link"></span>
	</button>
</div>