<div class="message-template col-sm-2">
	<span type="button" class="sidebar-toggle">
		<i class="icon-modview-icons-11"></i>
	</span>
	<span type="button" class="new-note" title="Add Note">
		<i class="icon-modview-icons-12"></i>
	</span>
</div>
<div id="notification-region" class="col-sm-3 col-md-4"></div>
<div id="modview-region" class="col-sm-7 col-md-6">
	<div class="inner">
		<span type="button" class="modview-btn" title="Grid View">
			<i class="icon-modview-icons-03"></i>
		</span>
		<span type="button" class="modview-btn" title="Mindmap View">
			<i class="icon-modview-icons-02"></i>
		</span>
		<span type="button" class="modview-btn selected" title="Outline View">
			<i class="icon-modview-icons-01"></i>
		</span>
		<span type="button" class="modview-btn" title="Split Pane View">
			<i class="icon-modview-icons-07"></i>
		</span>
		<span type="button" class="modview-btn" title="Code View">
			<i class="icon-modview-icons-06"></i>
		</span>
		<span type="button" class="modview-btn" title="Flashcard View">
			<i class="icon-modview-icons-09"></i>
		</span>
		<span type="button" class="modview-btn" title="Cornell View">
			<i class="icon-modview-icons-04"></i>
		</span>
		<span type="button" class="modview-btn" title="Math View">
			<i class="icon-modview-icons-05"></i>
		</span>
		<span type="button" class="modview-btn" title="Card View">
			<i class="icon-modview-icons-10"></i>
		</span>
		<span type="button" class="modview-btn" title="Science View">
			<i class="icon-modview-icons-08"></i>
		</span>
	</div>
</div>