<div class="message-template col-sm-2">
	<span type="button" class="sidebar-toggle">
		<i class="icon-sidebar"></i>
	</span>
	<span type="button" class="new-note" title="Add Note">
		<i class="icon-newnote"></i>
	</span>
</div>
<div id="notification-region" class="col-sm-3 col-md-4"></div>
<div id="modview-region" class="col-sm-7 col-md-6">
	<span type="button" class="modview-btn selected" title="Outline View">
		<i class="icon-modview-outline"></i>
	</span>
	<span type="button" class="modview-btn" title="Mindmap View">
		<i class="icon-modview-mindmap"></i>
	</span>
	<span type="button" class="modview-btn" title="Grid View">
		<i class="icon-modview-grid"></i>
	</span>
	{{!-- <div id="hidden-modviews">
	 	<span type="button" class="modview-btn" title="Split Pane View">
			<i class="icon-modview-splitpane"></i>
		</span>
		<span type="button" class="modview-btn" title="Code View">
			<i class="icon-modview-code"></i>
		</span>
		<span type="button" class="modview-btn" title="Flashcard View">
			<i class="icon-modview-flashcard"></i>
		</span>
		<span type="button" class="modview-btn" title="Cornell View">
			<i class="icon-modview-cornell"></i>
		</span>
		<span type="button" class="modview-btn" title="Math View">
			<i class="icon-modview-math"></i>
		</span>
		<span type="button" class="modview-btn" title="Card View">
			<i class="icon-modview-card"></i>
		</span>
		<span type="button" class="modview-btn" title="Science View">
			<i class="icon-modview-science"></i>
		</span>
 	</div> --}}
 </div>