<div class="message-template col-sm-2">
	<span type="button" class="sprite expand_icon sidebar-toggle" title="Sidebar"></span>
	<span type="button" class="sprite new_icon new-note" title="Add Note"></span>
</div>
<div id="notification-region" class="col-sm-8 col-md-9"></div>
<div id="modview-region" class="col-sm-2">
	<span type="button" class="sprite outline_icon modview-btn selected" title="Outline View"></span>
	<span type="button" class="sprite mindmap_icon modview-btn" title="Mindmap View"></span>
	<span type="button" class="sprite grid_icon modview-btn" title="Grid View"></span>
</div>