<div class="message-template col-sm-2">
	<span type="button" class="sprite expand_icon sidebar-toggle"></span>
	<span type="button" class="sprite new_icon new-note" title="add note"></span>
</div>
<div id="notification-region" class="col-sm-8">
	<div class="alert alert-warning notificationHack">Here's some notification you should be aware of when taking notes.</div>
</div>
<div id="modview-region" class="col-sm-2">
	<span type="button" class="sprite outline_icon modview-btn selected"></span>
	<span type="button" class="sprite mindmap_icon modview-btn"></span>
	<span type="button" class="sprite grid_icon modview-btn"></span>
</div>