<h1 class="sidebar-dropdown">Notebooks</h1>
<ul id="notebook-region">
	<li><a href="#">Chemistry</a></li>
	<li><a href="#" class="active">History</a></li>
	<li><a href="#">Calculus</a></li>
	<li><a href="#">Physics</a></li>
</ul>

<h1 class="sidebar-dropdown">Recent Notes</h1>
<ul id="recentNote-region">
	<li><a href="#">Chemistry (10/13)</a></li>
	<li><a href="#">Physics (10/13)</a></li>
	<li><a href="#">Chemistry (09/13)</a></li>
	<li><a href="#">Personal</a></li>
	<li><a href="#">Shopping List</a></li>
</ul>

<h1 class="sidebar-dropdown">Favorites</h1>
<ul id="favorite-region"></ul>

<h1 class="sidebar-dropdown">Tags</h1>
<ul id="tag-region">
	<li><a href="#">#chemistry</a></li>
	<li><a href="#">#bonds</a></li>
	<li><a href="#">#forumla</a></li>
	<li><a href="#">#motion</a></li>
	<li><a href="#">#random</a></li>
	<li><a href="#">#self</a></li>
</ul>