<div id="left-sidr-center">
	<h1 class="sidebar-dropdown">Notebooks
		<span class="list-toggle pull-right">▼</span>
	</h1>
	<ul id="notebook-region">
		<li><a href="#">Chemistry</a></li>
		<li><a href="#" class="active">History</a></li>
		<li><a href="#">Calculus</a></li>
		<li><a href="#">Physics</a></li>
	</ul>

	<h1 class="sidebar-dropdown">Recent Notes
		<span class="list-toggle pull-right">▼</span>
	</h1>
	<ul id="recentNote-region">
		<li><a href="#">Chemistry (10/13)</a></li>
		<li><a href="#">Physics (10/13)</a></li>
		<li><a href="#">Chemistry (09/13)</a></li>
		<li><a href="#">Personal</a></li>
		<li><a href="#">Shopping List</a></li>
	</ul>

	<h1 class="sidebar-dropdown">Favorites
		<span class="list-toggle pull-right">▼</span>
	</h1>
	<ul id="favorite-region">
		<li><a href="#">Shopping List</a></li>
		<li><a href="#">Emails to Send</a></li>
		<li><a href="#">Code Snippets</a></li>
	</ul>

	<h1 class="sidebar-dropdown">Tags
		<span class="list-toggle pull-right">▼</span>
	</h1>
	<ul id="tag-region">
		<li><a href="#">#chemistry</a></li>
		<li><a href="#">#bonds</a></li>
		<li><a href="#">#forumla</a></li>
		<li><a href="#">#motion</a></li>
		<li><a href="#">#random</a></li>
		<li><a href="#">#self</a></li>
		<li><a href="#">#important</a></li>
	</ul>
</div>

<div id="right-sidr-center">
	<ul><li>
	<form role="search">
		<input type="text" class="form-control" placeholder="Search">
		<span class="glyphicon glyphicon-search"></span>
	</form>
	</li></ul>


	<h1 class="sidebar-dropdown"></h1>
	<ul>
		<li><a href="landing">Sign Out</a></li>
		<li><a href="#">Help</a></li>
		<li><a href="#">Settings</a></li>
		<li><a href="#">Give Feedback</a></li>
		<li><a href="#">Views</a></li>
	</ul>
</div>