<div id="left-sidr-center">
	<h1 class="sidebar-dropdown">Notebooks
		<span class="list-toggle pull-right">▼</span>
	</h1>
	<div id="notebook-region">
		<div id="notebook-list"></div>
		<ul><li class="trunk-input">
			<input id="new-trunk" placeholder="Create new notebook">
			<span class="new-trunk-btn pull-right" title="Add Notebook">+</span>
		</li></ul>
	</div>

	<h1 class="sidebar-dropdown">Recent Notes
		<span class="list-toggle pull-right">▼</span>
	</h1>
	<ul id="recentNote-region">
		<li class="note">Economics (02/14)</li>
		<li class="note">Physics (12/13)</li>
		<li class="note">Economics (01/14)</li>
		<li class="note">Personal</li>
		<li class="note">The Basics</li>
	</ul>

	<h1 class="sidebar-dropdown">Favorites
		<span class="list-toggle pull-right">▼</span>
	</h1>
	<ul id="favorite-region">
		<li class="note">Emails to Send</li>
		<li class="note">The Basics</li>
		<li class="note">Code Snippets</li>
	</ul>

	<h1 class="sidebar-dropdown">Tags
		<span class="list-toggle pull-right">▼</span>
	</h1>
	<ul id="tag-region">
		<li class="tag">#review</li>
		<li class="tag">#formula</li>
		<li class="tag">#actors</li>
		<li class="tag">#funny</li>
		<li class="tag">#random</li>
		<li class="tag">#self</li>
		<li class="tag">#important</li>
	</ul>
</div>

<div id="right-sidr-center">
	<ul><li>
	<form role="search">
		<input type="text" class="form-control" placeholder="Search">
		<span class="glyphicon glyphicon-search"></span>
	</form>
	</li></ul>

	<h1 class="sidebar-dropdown"></h1>
	<ul>
		<li><a href="start">Connect to Evernote</a></li>
		<li><a href="#">Help</a></li>
		<li><a href="#">Settings</a></li>
		<li><a href="#">Give Feedback</a></li>
		<li><a href="#">Views</a></li>
		<li>
			<a href="/sign_out" data-method="delete" rel="nofollow">Sign Out</a>
		</li>
	</ul>
</div>