<div class="container">
	<h2>Evernote API Results</h2>
	<p>Username: <%= @user.username %></p>
	<p>Notebook: <%= @barvariable %></p>
	<p>Note Count: 4</p>
	<p>Notebook Count: 4</p>
	<%= link_to("Go back home", root_path) %>
</div>

