<p>Select the notebooks you want to sync from Evernote:</p>
<div id="checkbox-region"></div>
<button class="btn btn-submit continue">Continue</button>
<button class="btn btn-default cancel">Cancel</button>