<div class="col-xs-3 col-md-4"></div>
<div class="col-xs-6 col-md-4 progress-bar">
	<span class="progress-text"></span>
		<div class="progress progress-striped-info active">
			<div class="bar" style="width: 36%;"></div>
		</div>
	</span>
<div class="col-xs-3 col-md-4"></div>