	<footer id="info">
		<p>Here's the footer area</p>
		<p>
			Created by <a href="http://github.com/jsoverson">Jarrod Overson</a>
			and <a href="http://github.com/derickbailey">Derick Bailey</a>
			using <a href="http://marionettejs.com">Backbone.Marionette</a>
		</p>
	</footer>
