@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot');
	src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
		font-url('icomoon.woff') format('woff'),
		font-url('icomoon.ttf') format('truetype'),
		font-url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feats-21:before {
	content: "\e61c";
}
.icon-feats-18:before {//cross v9
	content: "\e619";
}
.icon-feats-19:before {//cross v8
	content: "\e61a";
}
.icon-feats-20:before {//cross v7
	content: "\e61b";
}
.icon-feats-17:before {//cross v6
	content: "\e613";
}
.icon-feats-16:before {//cross v5
	content: "\e614";
}
.icon-feats-15:before {//cross2 v2
	content: "\e615";
}
.icon-feats-14:before {//cross v4
	content: "\e616";
}
.icon-feats-13:before {//cross v3
	content: "\e617";
}
.icon-feats-12:before {//cross v2
	content: "\e618";
}
.icon-feats-export:before {//11
	content: "\e610";
}
.icon-feats-cross2:before {//10
	content: "\e611";
}
.icon-feats-cross1:before {//9
	content: "\e612";
}
.icon-feats-color:before {//8
	content: "\e600";
}
.icon-feats-share:before {//7
	content: "\e602";
}
.icon-feats-delete:before {//6
	content: "\e603";
}
.icon-feats-emoticon:before {//5
	content: "\e604";
}
.icon-feats-attach:before {//4
	content: "\e605";
}
.icon-feats-copy:before {//3
	content: "\e606";
}
.icon-feats-export2:before {//2 with the paper
	content: "\e607";
}
.icon-feats-tag:before {//1
	content: "\e608";
}
.icon-emoticons-13:before {//thicker question mark
	content: "\e621";
}
.icon-emoticons-12:before {//thicker checkmark
	content: "\e620";
}
.icon-emoticons-11:before {
	content: "\e61f";
}
.icon-emoticons-10:before {
	content: "\e61e";
}
.icon-emoticons-09:before {
	content: "\e61d";
}
.icon-emoticons-08:before {
	content: "\e609";
}
.icon-emoticons-07:before {
	content: "\e60a";
}
.icon-emoticons-06:before {
	content: "\e60b";
}
.icon-emoticons-05:before {//question mark
	content: "\e60c";
}
.icon-emoticons-04:before {//check mark
	content: "\e60d";
}
.icon-emoticons-03:before {//smiley
	content: "\e60e";
}
.icon-emoticons-02:before {//star
	content: "\e60f";
}
.icon-emoticons-01:before {//heart
	content: "\e601";
}
.icon-modview-icons-12:before {
	content: "\e62c";
}
.icon-modview-icons-11:before {
	content: "\e62d";
}
.icon-modview-icons-10:before {
	content: "\e622";
}
.icon-modview-icons-09:before {
	content: "\e623";
}
.icon-modview-icons-08:before {
	content: "\e624";
}
.icon-modview-icons-07:before {
	content: "\e625";
}
.icon-modview-icons-06:before {
	content: "\e626";
}
.icon-modview-icons-05:before {
	content: "\e627";
}
.icon-modview-icons-04:before {
	content: "\e628";
}
.icon-modview-icons-03:before {
	content: "\e629";
}
.icon-modview-icons-02:before {
	content: "\e62a";
}
.icon-modview-icons-01:before {
	content: "\e62b";
}

