@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-icons-11:before {//cloud
	content: "\e610";
}
.icon-icons-10:before {//cross2
	content: "\e611";
}
.icon-icons-09:before {//cross
	content: "\e612";
}
.icon-icons-08:before {
	content: "\e600";
}
.icon-icons-07:before {//export -> change to cloud
	content: "\e602";
}
.icon-icons-06:before {//delete
	content: "\e603";
}
.icon-icons-05:before {//smiley
	content: "\e604";
}
.icon-icons-04:before {//attach
	content: "\e605";
}
.icon-icons-03:before {//copy
	content: "\e606";
}
.icon-icons-02:before {
	content: "\e607";
}
.icon-icons-01:before {//tag
	content: "\e608";
}
.icon-emoticons-08:before {
	content: "\e609";
}
.icon-emoticons-07:before {
	content: "\e60a";
}
.icon-emoticons-06:before {
	content: "\e60b";
}
.icon-emoticons-05:before {//question mark
	content: "\e60c";
}
.icon-emoticons-04:before {//check mark
	content: "\e60d";
}
.icon-emoticons-03:before {//smiley
	content: "\e60e";
}
.icon-emoticons-02:before {//star
	content: "\e60f";
}
.icon-emoticons-01:before {//heart
	content: "\e601";
}
