$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableBlack: #3D3D3D;

$notableLightGray: #C1C1C1;
$notableGray: #EAEAEA;
$notableDarkGray: #999999;

$screen-sm: 760px;
$screen-md: 992px;
$screen-lg: 1200px;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
#modview-region {
  display: inline-block;
  height: inherit;
  padding: 0 0 0 2.5em;
}
.modview-btn {
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 3px;
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}