$notableBlue: #14A4FF;
$notableOrange: #E97C12;
$notableYellow: #FFDC33;
$notableWhite: #FDFDFD;
$notableBlack: #3D3D3D;

$notableLightGray: #C1C1C1;
$notableGray: #EAEAEA;
$notableDarkGray: #999999;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
html {
  overflow-y: scroll;
}
body {
	height: 100%;
  background-image: asset-url('satinweave.png', image);
  font: 12px 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
	line-height: 1.4em;
	color: $notableBlack;
	margin: 0 auto;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.btn-info {
	background-color: $notableBlue;
}
.container {
	padding: 0;
}

/* --------------HEADER REGION ------------------ */
nav {
	height: 35px;
	background-color: $notableGray; /* Old browsers */
	background: -moz-linear-gradient(top, #FDFDFD 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FDFDFD 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top, #FDFDFD 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FDFDFD 0%,#cccccc 100%); /* W3C */
	.navbar-header {
		padding: 5px 15px;
	}
	.logo {
		color: $notableBlue;
		.logo-icon {
			text-align: left;
		}
		.logo-name {
			text-align: center;
			font-size: 18px;
			margin: 4px 0 0 0;
			font-family: "Century Gothic", "Century Gothic Bold", Tahoma, Arial, sans-serif;
			font-weight: bold;
		}
	}

	.dropdown-toggle {
		color: $notableDarkGray;
	}

}

/* --------------MESSAGE REGION ------------------ */
#message-center {
	display: none;
}

.btn-default:focus {
	outline: none;
	background-color: white;
	border-color: #CCCCCC;
}

.btn-default:active {
	-webkit-box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.17);
	box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.17);
	background-color: #ebebeb;
	border-color: #adadad;
}

/* --------------CONTENT REGION ------------------ */
	#content-template {
		margin: 0;
		border-radius: 10px;
		h3 {
			font-size: 1.1em;
			margin: 1em auto;
		}
	}

/* --------------SIDEBAR REGION ------------------ */
	/*** Notebooks ***/
	/*** Recent Notes ***/
	/*** Favorites ***/
	/*** Tags ***/

/* --------------FOOTER REGION ------------------ */
	/*** Links ***/

// ----------------------------------------------------
// ------------SMARTPHONE MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (max-width: $screen-sm) {
	nav.navbar-fixed-top {
		position: static;
	}

	nav .btn {
		line-height: 1.4em;
		font-size: 16px;
		.glyphicon-cog {
			top: 2px;
		}
	}
	.xs-toggle-left {
		padding-left: 3%;
	}
	.xs-toggle-right {
		padding-left: 9%;
	}
}

@media (max-width: 450px) {
	.xs-toggle-left {
		padding-left: 2%;
	}
	.xs-toggle-right {
		padding-left: 6%;
	}

}


// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	.container {
		padding: 0 15px;
		margin-top: 57px;
		max-width: $screen-sm;
	}

	nav {
		height: 40px;
		.navbar-header {
			padding: 0.2% 0.5%;
		}
		.logo {
			text-align: left;
			.logo-icon {
				padding: 0;
				margin: 1.4% 0 0 7%;
				width: 114px;
				height: 28px;
			}
		}

		/*** Search Bar ***/
		.navbar-form {
			margin: 7px 0;
			.form-control {
				height: 27px;
				font-size: 12px;
			}
		}

/*******************
  Search
 *******************/

.search_btn {
  background: $notableWhite;
  border: none;
}

input#query:active,input#query:focus {
  outline: none;
  border:none !important;
  box-shadow:none !important;
   -webkit-appearance:none;
}

#search_field {
  padding-top: 5px;
  height: 30px;
  & .btn {
    margin-top: 0px;
  }
}

#query {
  position: relative;
  bottom: 2px;
}

/***End old CSS ***/


		.navbar-shift {
			position: relative;
			left: 260px;
			transition: left 0.2s;
			-webkit-transition: left 0.2s; /* Safari */
		}
		.navbar-nav > li > a {
			padding: 11px 15px;
		}

		.sidr-toggle-left, .sidr-toggle-right {
			display: none;
		}


	}


	#message-center {
		display: block;
		height: 3em;
		padding-top: 0;
		.message-template {
			display: inline-block;
			padding: 0 0 0 0.4em;

		}
	}

	#content-template {
		display: block;
		background-image: asset-url('cardboard_@2X.png', image);
		position: relative;
		margin-bottom: 2em;
		border-radius: 7px;
		border: 1px solid #C1C1C1;
		h3 {
			color: $notableDarkGray;
			font-family: 'Century Gothic', "Arial", sans-serif;
			text-align:center;
			font-size: 0.9em;
			margin: 0.9em auto;
			font-weight: bold;
		}
	}

}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	body {
	  font-size: 14px;
		// padding-top: 60px;
	}
	.container {
		max-width: $screen-md;
		margin-top: 60px;
	}

	nav {
		height: 45px;
		.navbar-form {
			.form-control {
				font-size: 14px;
				height: 30px;
			}
		}
		.navbar-nav > li > a {
			padding: 15px;
		}
		.logo .logo-icon {
			width: 136px;
			height: 33px;
		}

	}

	#message-center {
		padding-top: 4px;
	}

	#content-template {
		margin-bottom: 5em;
		border-radius: 10px;
		h3 {
			font-size: 1.1em;
			margin: 1em auto;
		}
	}

}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}