@import "variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------
html {
  overflow-y: scroll;
}
body {
	height: 100%;
  background-image: asset-url('satinweave.png', image);
  font: 12px Tahoma, Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px;
	line-height: 1.4em;
	color: $black;
	margin: 0 auto;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
label {
	font: 14px Tahoma, Helvetica, Arial, sans-serif;
}
h2
.container {
	padding: 0;
}

/* --------------HEADER REGION ------------------ */
nav {
	height: 35px;
	background-color: $grayLight; /* Old browsers */
	background: -moz-linear-gradient(top, #FDFDFD 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FDFDFD 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top, #FDFDFD 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FDFDFD 0%,#cccccc 100%); /* W3C */
	.btn-info {
		background-color: $notableBlue;
	}
	.navbar-header {
		padding: 5px 15px;
	}
	.logo {
		color: $notableBlue;
		.logo-icon {
			text-align: left;
		}
		.logo-name {
			text-align: center;
			font-size: 18px;
			margin: 4px 0 0 0;
			font-family: "Century Gothic", "Century Gothic Bold", Tahoma, Arial, sans-serif;
			font-weight: bold;
		}
	}

	.dropdown-toggle {
		color: $grayDark;
	}

}

/* --------------MESSAGE REGION ------------------ */
#message-center {
	display: none;
}

.btn-default:focus {
	outline: none;
	background-color: white;
	border-color: #CCCCCC;
}

.btn-default:active {
	-webkit-box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.17);
	box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.17);
	background-color: #ebebeb;
	border-color: #adadad;
}

/* --------------FOOTER REGION ------------------ */
footer {
	height: 2em;
	ul {
		list-style-type: none;
		font-size: 12px;
		padding-left: 3%;
		width: 97%;
	}
}
#footer-in {
	text-align: center;
	margin: 5% 0 0 0;
}


// ----------------------------------------------------
// ------------SMARTPHONE MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (max-width: $screen-sm) {
	nav.navbar-fixed-top {
		position: static;
	}

	nav .btn {
		line-height: 1.4em;
		font-size: 16px;
		.glyphicon-cog {
			top: 2px;
		}
	}
	.xs-toggle-left {
		padding-left: 3%;
	}
	.xs-toggle-right {
		padding-left: 9%;
	}
}

@media (max-width: $screen-xs) {
	.xs-toggle-left {
		padding-left: 2%;
	}
	.xs-toggle-right {
		padding-left: 6%;
	}

}


// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	.container {
		padding: 0 15px;
		margin-top: 57px;
		max-width: $screen-sm;
	}

	nav {
		height: 40px;
		.navbar-header {
			padding: 0.2% 0.5%;
		}
		.logo {
			text-align: left;
			.logo-icon {
				padding: 0;
				margin: 1.4% 0 0 7%;
			}
		}
		.navbar-shift {
			position: relative;
			left: 260px;
			-webkit-transition: left 0.2s; /* Safari */
			transition: left 0.2s;
		}

		.navbar-search {
			margin: 7px 0;
			padding: 0;
			.form-control {
				height: 27px;
				font-size: 12px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
			}
			.search-btn {
				float: right;
				color: $grayDark;
				position: relative;
				top: -20px;
				right: 11px;
			}
		}

		.navbar-nav > li > a {
			margin: 7px 16px 7px 9px;
			padding: 4px 7px;
			width: 28px;
			height: 28px;
			background-color: white;
			border: 2px solid #D5D5D5;
			border-radius: 15px;
			.glyphicon-play {
				color: $gray;
				-ms-transform: rotate(90deg); /* IE 9 */
				-moz-transform: rotate(90deg); /* Mozilla */
				-webkit-transform: rotate(90deg); /* Safari and Chrome */
				transform: rotate(90deg);
			}
			&:hover {
				border-color: $notableYellow;
				background-color: white;
				.glyphicon-play { color: $notableYellow; }
			}
			&:active {
				border-color: $notableOrange;
				background-color: #F0F0F0;
				.glyphicon-play { color: $notableOrange; }
			}
			&:focus {
				background-color: white;
			}

		}
		.nav .open > a:focus {
			border-color: $notableBlue;
			background-color: white;
			.glyphicon-play { color: $notableBlue; }
		}
		.sidr-toggle-left, .sidr-toggle-right {
			display: none;
		}

	}

	#message-center {
		display: block;
		height: 3em;
		padding-top: 2px;
		.message-template {
			display: inline-block;
			padding: 0 0 0 2%;
			.sprite:hover { cursor: pointer; }
			.sprite.expand_icon {
				margin-right: 2px;
				&:hover { background-position: -88px -117px; }
				&:active { background-position: -120px -117px; }
			}
			.sprite.new_icon {
				&:hover { background-position: -2px -61px; }
				&:active { background-position: -34px -61px; }
			}
		}
	}

	#footer-in {
		margin: 3% 0;
	}
}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	body {
	  font-size: 14px;
		// padding-top: 60px;
	}
	.container {
		max-width: $screen-md;
		margin-top: 60px;
	}

	nav {
		height: 45px;
		.navbar-search {
			.form-control {
				font-size: 14px;
				height: 30px;
			  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
			  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
			}
			.search-btn {
				top: -23px;
			}
		}
		.navbar-nav > li > a {
			margin: 7px 19px 7px 9px;
			padding: 5.5px 6.5px;
			width: 30.5px;
			height: 30.5px;
		}
	}

	#message-center {
		padding-top: 4px;
		.message-template {
			padding: 0.2% 0 0 2.2%;
			.sprite {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
				margin-right: 3px;
			}
			.sprite.expand_icon {
				margin-right: 4px;
			}
		}
	}

	#footer-in {
		margin: 1% 0;
	}
}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}