<div class="landing">
	<div id="logo"></div>
	<div class="visible-xs visible-sm couplet">
		<h1 class="tagline">Learn Faster.</h1>
		<h1 class="tagline">Understand More.</h1>
	</div>
	<div class="visible-md visible-lg">
		<h1 class="tagline">Learn Faster. Understand More.</h1>
	</div>

	<p class="pitch">Notable is a note-taking app for learning more efficiently and effectively. It allows users to easily organize and play with their ideas, leading to more connections, deeper understanding, and that moment when everything just makes sense.</p>

	<div class="message">
		Notable is currently invite only. Would you like one?
	</div>

<!-- Mailchimp Signup Form -->
<div id="mc_embed_signup">
	<form action="http://notable.us3.list-manage.com/subscribe/post?u=794b28891835b425ac5058300&amp;id=0d6d587bb5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div class="mc-field-group">
		<input type="email" value="" placeholder="Enter your email address" name="EMAIL" class="required email" id="mce-EMAIL">
	</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>
	<div class="clear">
		<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="submit btn" onsubmit="mixpanel.track('Request Invite');">
	</div>
	</form>
</div>

<%= render 'scaffold/footer_out' %>
</div>